<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../resources/templates/outlookBg/Common.css">
    </head>
    <body>
        <hr>
        <h1 id="Ab" >~AutoBiographies~&#x1F4DD</h1>
        <hr>
        <div class="row">
          <div class="column">
            <img src="../resources/templates/outlookBg/Sonu.jpeg" alt="Book" style="width:55%">
          </div>
          <div class="column">
            <img src="../resources/templates/outlookBg/Nm.jpg" alt="Book" style="width:50%">
          </div>
          <div class="column">
            <img src="../resources/templates/outlookBg/Mk.jpg" alt="Book" style="width:55%">
          </div>
        </div>
        <div class="row">
          <div class="column">
            <img src="../resources/templates/outlookBg/abdulkalam.jpg" alt="Book" style="width:55%">
          </div>
          <div class="column">
            <img src="../resources/templates/outlookBg/SM.jpeg" alt="Book" style="width:55%">
          </div>
          <div class="column">
            <img src="../resources/templates/outlookBg/WS.jpg" alt="Book" style="width:55%">
          </div>
        </div>
    </body>
</html>