<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../resources/templates/outlookBg/Common.css">
    </head>
    <body>
        <hr>
        <h1 id="Ez">--Entertainment Zone&#x1F60E--</h1>
        <hr>
        <div class="row">
          <div class="column">
            <img src="../resources/templates/outlookBg/lp.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="../resources/templates/outlookBg/Cr.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="../resources/templates/outlookBg/Venom.jpg" alt="Book" style="width:45%">
          </div>
        </div>
        <div class="row">
          <div class="column">
            <img src="../resources/templates/outlookBg/Gl.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="../resources/templates/outlookBg/End.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="../resources/templates/outlookBg/IT.jpg" alt="Book" style="width:45%">
          </div>
        </div>
        

    </body>
</html>